*.pdf
*.png
*.jpg
*.lnk
*.mpp
*.docx
*.xlsx
*.rar
*.zip


*.wdf
*.wpc
*.xml
*.lpr
*.pb
*.rst
*.js
*.sh
*.tcl
*.dcp
*.bat
*.log
*.jou
*.rpt
*.wdb
*.prj
*.vds
*.txt
*.obj
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.type
*.xdbg
*.ini
*.exe
*.info
*.html
*.wdm
*.vdb
*.wcfg
*.udo
*.do
*.f
*.xpr
*.opt
*.bak
*.bd
*.bxml
*.hwh
*.xci
*.hwdef
*.ui
*.str
*.v
*.bit
*.vdi
*.rpx
*.dmp
*.db
*.bin
*.rbt
*.vsdx
__synthesis_is_complete__

defensa/
exemples/
memoria/
old/
pcb/
ref*/
!other/*
